@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome to MegaDesk</h1>
        <p>Use our tool and schedule your new desktop with the best materials. </p>

        <a asp-page="/Quotes/Index" class="btn btn-primary">Start</a>
    </div>
