@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Sacrament Meeting Planner</h1>
    <p>Plan all your sacrament meetings right here with one easy to use website!</p>
</div>
